<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Market</title>
  <style>
    body {
      width: inherit;
      background-color: #191d28;
      font-family: sans-serif;
    }

    table {
      color: grey;
      width: 70%;
      text-align: center;
      margin: 80px auto;
      font-size: 16px;
      line-height: 1.6;
      font-weight: bold;
    }

    table>thead>tr {
      color: #7a7c82;
      background-color: transparent;
    }

    table>tbody>tr {
      color: white;
      margin: "2 0";
    }

    table>tbody>tr:not(.spaceUnder)>td {
      background-color: #2e3241;
    }

    table>tbody>tr td:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    table>tbody>tr td:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    tr.spaceUnder {
      background-color: transparent;
    }

    .checkboxes {
      padding: 8px;
      border-radius: 8px;
      background: #2e3241;
      border: 0px;
      color: white;
      font-weight: 600;
    }

    header {
      width: auto;
      padding: 0 15%;
      height: 48px;
    }

    header>div {
      float: left;
      min-width: 10%;
    }

    header>div:first-child {
      width: 30%;
      height: 100%;
    }

    header>div:nth-child(2) {
      width: 40%;
      height: 100%;
      padding: 40px 0;
      text-align: center;
    }

    header>div:nth-child(3) {
      width: 30%;
      height: 100%;
      padding: 40px 0;
      float: right;
      text-align: right;
      padding-top: 45px;
    }

    header>div:last-child>span:nth-child(1) {
      border: 3px solid #3dc6c1;
      border-radius: 50px;
      padding: 2px;
      color: #3dc6c1;
      font-weight: bold;
    }

    header>div:last-child>span:nth-child(2) {
      border-radius: 8px;
      padding: 8px 12px;
      background: #3dc6c1;
      color: white;
    }

    header>div:last-child>span:nth-child(3) {
      position: relative;
      border-radius: 50px;
      padding: 8px 24px;
      margin: 0 8px;
      color: #3dc6c1;
      font-weight: bold;
      background: #2e3241;
    }

    header>div:last-child>span:nth-child(3)>span {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 24px;
      height: 24px;
      background: #3dc6c1;
      border-radius: 50px;
    }

    img {
      object-fit: none;
      width: 200px;
    }
  </style>
</head>

<body>
  <header>
    <div>
      <img src="images\LOGO.PNG" alt="logo-1" class="img" />
    </div>
    <div>
      <select class="checkboxes ">
        <option>INR</option>
      </select>
      <select class="checkboxes ">
        <option>BTC</option>
      </select>
    </div>
    <div>
      <span>50</span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-send">
          <line x1="22" y1="2" x2="11" y2="13"></line>
          <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
        </svg>
        Contact Telegram</span>
      <span>
        <span></span>
      </span>
    </div>
  </header>
  <section>
    <table cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>name</th>
          <th>last</th>
          <th>Buy/Sell Price</th>
          <th>volume</th>
          <th>base_unit</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<top10.length; i++) {%>
          <tr>
            <td>
              <%= (i+1) %>
            </td>
            <td>
              <%= top10[i].name%>
            </td>
            <td>
              ₹ <%= top10[i].last%>
            </td>
            <td>
              ₹ <%= top10[i].buy%> / ₹ <%= top10[i].sell%>
            </td>
            <td>
              <%= top10[i].volume%>
            </td>
            <td>
              <%= top10[i].base_unit%>
            </td>
          </tr>
          <tr class="spaceUnder">
            <td colspan="6"></td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </section>
</body>

</html>